:root {
    --darker: rgb(26, 26, 31);
    --lighter: rgb(80, 80, 99);

    --white: #ffffff;
    --gray: #cccccc;
    --black: #000000;

    --highlight: #e8ce97;
    --highlight-label: var(--black);
    /* --yellow2: #FEB92C; */
    --yellow: #FECB66;

    /* --highlight: #e8ce97;
    --highlight-label: var(--black); */
}