:root {
    --darker: rgb(26, 26, 31);
    --lighter: rgb(80, 80, 99);

    --white: #ffffff;
    --gray: #cccccc;
    --black: #000000;

    --yellow: #FEEE35;
    --blue: #1AA0E5;
    --highlight: #e8ce97;
    --highlight-label: var(--black);
    /* --highlight: #e8ce97;
    --highlight-label: var(--black); */
}