.mt2 {
    margin-top: 2px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.container {
    max-height: 900px;
    min-width: 450px;

    color: var(--white);
    font-size: 14px;

    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
    border-color: var(--lighter);

    background: var(--darker);
}

.title-container {
    background-color: var(--lighter);

    margin: 0px -15px 15px -15px;
    padding-bottom: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-family: "Bree Serif", serif;
    color: var(--white);
}

.main-options {
    padding-top: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#colorpicker-container {
    height: 34px;
    width: 200px;

    color: var(--highlight-label);
    background-color: var(--highlight);

    border-radius: 34px;

    cursor: pointer;
}

#colorpicker-label {
    font-size: 20px;
    font-family: "Bree Serif", serif;

    padding-top: 1px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#colorpicker {
    visibility: hidden;
}

#highlight-list {
    min-height: 75px;
    max-height: 400px;
    overflow-y: scroll;

    margin: 15px 0px;

    border: 3px solid var(--lighter);
    border-radius: 3px;
}

.no-highlights-msg {
    color: var(--lighter);
    font-style: italic;
    padding-top: 25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.highlight-ul {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
}

.highlight-li {
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-bottom: 10px;
}

.btn {
    width: 175px;

    background-color: var(--lighter) !important;
    color: var(--white) !important;

    font-size: 14px !important;
    margin: 10px 10px !important;
}

.footer {
    margin-bottom: 10px;

    color: var(--lighter);
    font-style: italic;
    font-size: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}